@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* =========================
   FullCalendar Dark Mode
   ========================= */

.dark .fc {
  color: #f8fafc;
}

/* Month title: September 2026 */
.dark .fc .fc-toolbar-title {
  color: #ffffff;
}

/* Day names: Sun, Mon, Tue... */
.dark .fc .fc-col-header-cell {
  background-color: #1e293b;
}

.dark .fc .fc-col-header-cell-cushion {
  color: #ffffff;
}

/* Calendar day numbers */
.dark .fc .fc-daygrid-day-number {
  color: #e2e8f0;
}

/* Main calendar cells */
.dark .fc .fc-daygrid-day {
  background-color: #1e293b;
}

/* Calendar borders */
.dark .fc-theme-standard td,
.dark .fc-theme-standard th {
  border-color: #475569;
}

.dark .fc-theme-standard .fc-scrollgrid {
  border-color: #475569;
}

/* Days outside current month */
.dark .fc .fc-day-other .fc-daygrid-day-number {
  color: #64748b;
}

/* Today */
.dark .fc .fc-day-today {
  background-color: #3f3f32 !important;
}

/* Calendar buttons */
.dark .fc .fc-button-primary {
  background-color: #334155;
  border-color: #334155;
  color: #ffffff;
}

.dark .fc .fc-button-primary:hover {
  background-color: #475569;
  border-color: #475569;
}